
/* Redéfinition des couleurs des listviews par défaut*/
.win-listview .win-container:not(.win-footprint) {
	background-color: transparent;
}


@media screen and (-ms-view-state: fullscreen-landscape) {
	
	.talkDetail .speakersList {
		height: 100%;
		position: relative;
		width: 100%;
		z-index: 0;
	}
	
	.talkDetail .speakersList .win-horizontal.win-viewport .win-surface{
        margin-bottom: 60px;
        margin-top: 10px;
    }
	
	.talkDetail section[role=main] {
		margin-left: 120px;
		margin-right: 120px;
	}
	
	section#main{
		display: -ms-grid;
		-ms-grid-columns: 500px auto;
		-ms-grid-rows: 1fr;
	}
	
		#main #description{
			-ms-grid-row: 1;
			-ms-grid-column: 1;
		}
		
		#main h2, #main h3{
			margin-bottom: 20px;
		}
		
			#main #description > p{
				padding: 10px;
			}
			
			#main #description p{
				margin-top: 0;
				margin-bottom: 20px;
			}
			
				#main #description #detail{
					display: -ms-grid;
					-ms-grid-columns: 1fr 1fr;
					-ms-grid-rows: 40px 1fr 1fr;
				}
					#main #description #detail p{
						vertical-align: middle;
						display: block;
						padding: 10px;
					}
					#main #description #detail h3{
						-ms-grid-column: 1;
						-ms-grid-row: 1;
					}
					#main #description #detail #room{
						-ms-grid-column: 1;
						-ms-grid-row: 2;
						margin-right:20px;
					}
					#main #description #detail #format{
						-ms-grid-column: 2;
						-ms-grid-row: 2;
						margin-left:20px;
					}
					
					#main #description #detail #time{
						-ms-grid-column: 1;
						-ms-grid-row: 3;
						margin-right:20px;
					}
					#main #description #detail #type{
						-ms-grid-column: 2;
						-ms-grid-row: 3;
						margin-left:20px;
					}
		
		#main #speakers{
			-ms-grid-column: 2;
			-ms-grid-row: 1;
			margin-left: 80px;
		}
		
		#main #speakers .speakersList .item{
			display: -ms-grid;
			-ms-grid-columns: 120px 500px;
			-ms-grid-rows: 1fr;
		}
		
			#main #speakers .speakersList .item .item-personne{
				-ms-grid-column: 1;
				-ms-grid-row: 1;
				
			}
				#main #speakers .speakersList .item .item-image{
					max-width: 100px;
					padding: 10px;
				}
			
			#main #speakers .speakersList .item .item-biography{
				-ms-grid-column: 2;
				-ms-grid-row: 1;
				margin-left: 10px;
				min-height: 100px;
			}
			
				#main #speakers .speakersList .item .item-biography .biography-description{
					padding: 10px;
				}
			
}

@media screen and (-ms-view-state: snapped) {
    .talkDetail section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .talkDetail section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}